// Colors

$header-footer: #5a4536;

$header-footer-dark: #392c23;

$header_footer_gradient: linear-gradient(
  90.26deg,
  #7d604b 0.23%,
  #251000 99.8%
);

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;
$color-shadow: #0d0d0d0a;

//Fonts
$main-font: Georgia;
$secondaty-font: Arial;

// Grid
$desktop-width: 1280px;
$tablet-width: 768px;
$smartphone-width: 320px;
