.header {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: brown;
  width: 100%;
  position: fixed;
  transition: background-color 0.6s linear;
}

.text {
  font-size: 30px;
}
